<dx-data-grid
  (onRowClick)="onRowClick($event)"
  [dataSource]="movies$ | async"
  [showBorders]="true"
  id="gridContainer">
  <dxo-paging [pageSize]="10"></dxo-paging>
  <dxo-pager
    [allowedPageSizes]="[10, 20, 50, 100]"
    [showInfo]="true"
    [showPageSizeSelector]="true">
  </dxo-pager>
  <dxo-search-panel
    [highlightCaseSensitive]="true"
    [visible]="true"
  ></dxo-search-panel>

  <dxi-column caption="Name"
              dataField="name"
              dataType="string"></dxi-column>
  <dxi-column caption="Category"
              dataField="category.name"
              dataType="string"></dxi-column>
  <dxi-column caption="Length"
              cellTemplate="lengthTemplate"
              dataType="string"></dxi-column>
  <div *dxTemplate="let movie of 'lengthTemplate'">
    <div>{{movie.data.length | MinutesToHours}}</div>
  </div>
</dx-data-grid>

<ng-container *ngIf="showMoviePopup">
  <app-movie-popup
    (visibleChange)="showMoviePopup = $event"
    [movie]="selectedMovie"
    [showPopup]="showMoviePopup">
  </app-movie-popup>
</ng-container>

